<?xml version="1.0" ?>
<config>
	<modules>
		<Rede_Adquirencia>
			<version>2.0.0.3</version>
		</Rede_Adquirencia>
	</modules>

	<global>
		<models>
			<rede_adquirencia>
				<class>Rede_Adquirencia_Model</class>
				<resourceModel>rede_adquirencia_resource</resourceModel>
			</rede_adquirencia>
			<rede_adquirencia_resource>
				<class>Rede_Adquirencia_Model_Resource</class>
				<entities>
					<transacoes>
						<table>rede_adquirencia_transacoes</table>
					</transacoes>
				</entities>
			</rede_adquirencia_resource>
		</models>
		<resources>
			<rede_adquirencia_setup>
				<setup>
					<module>Rede_Adquirencia</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</rede_adquirencia_setup>
		</resources>
		<blocks>
			<rede_adquirencia>
				<class>Rede_Adquirencia_Block</class>
			</rede_adquirencia>
		</blocks>
		<helpers>
			<rede_adquirencia>
				<class>Rede_Adquirencia_Helper</class>
			</rede_adquirencia>
		</helpers>
		<events>
			<sales_order_place_after>
				<observers>
					<rede_adquirencia_order_place_after>
						<class>rede_adquirencia/observer</class>
						<method>verifyCheckout</method>
					</rede_adquirencia_order_place_after>
				</observers>
			</sales_order_place_after>
			<sales_order_collection_load_before>
				<observers>
					<rede_adquirencia_append_transacoes_to_order_collection>
						<class>rede_adquirencia/observer</class>
						<method>addTransacaoInfoToOrderCollection</method>
					</rede_adquirencia_append_transacoes_to_order_collection>
				</observers>
			</sales_order_collection_load_before>
			<sales_order_grid_collection_load_before>
				<observers>
					<rede_adquirencia_append_transacoes_to_order_grid_collection>
						<class>rede_adquirencia/observer</class>
						<method>addTransacaoInfoToOrderCollection</method>
					</rede_adquirencia_append_transacoes_to_order_grid_collection>
				</observers>
			</sales_order_grid_collection_load_before>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<rede_adquirencia_modify_sales_order_grid>
						<class>rede_adquirencia/observer</class>
						<method>addTransacaoColumnsToOrderGrid</method>
					</rede_adquirencia_modify_sales_order_grid>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
		<payment>
			<cc>
				<types>
					<CZ>
						<code>CZ</code>
						<name>Credz</name>
						<order>90</order>
					</CZ>
					<DC>
						<code>DC</code>
						<name>Diners Club</name>
						<order>91</order>
					</DC>
					<HP>
						<code>HP</code>
						<name>Hiper</name>
						<order>92</order>
					</HP>
					<HPC>
						<code>HPC</code>
						<name>Hipercard</name>
						<order>93</order>
					</HPC>
				</types>
			</cc>
		</payment>
	</global>

	<frontend>
		<routers>
			<rede_adquirencia>
				<use>standard</use>
				<args>
					<module>Rede_Adquirencia</module>
					<frontName>adquirencia</frontName>
				</args>
			</rede_adquirencia>
		</routers>
		<layout>
			<updates>
				<rede_adquirencia>
					<file>rede/adquirencia.xml</file>
				</rede_adquirencia>
			</updates>
		</layout>
		<translate>
			<modules>
				<rede_adquirencia>
					<files>
						<default>Rede/Adquirencia.csv</default>
					</files>
				</rede_adquirencia>
			</modules>
		</translate>
	</frontend>

	<adminhtml>
		<layout>
			<updates>
				<rede_adquirencia>
					<file>rede/adquirencia.xml</file>
				</rede_adquirencia>
			</updates>
		</layout>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<rede_adquirencia_block_html_before>
						<class>rede_adquirencia/observer</class>
						<method>addApiActionButtons</method>
					</rede_adquirencia_block_html_before>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
		<translate>
			<modules>
				<rede_adquirencia>
					<files>
						<default>Rede/Adquirencia.csv</default>
					</files>
				</rede_adquirencia>
			</modules>
		</translate>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<rede_adquirencia before="Mage_Adminhtml">Rede_Adquirencia_Adminhtml</rede_adquirencia>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<default>
		<payment>
			<rede_adquirencia>
				<active>0</active>
				<title>Cartão de Crédito</title>
				<model>rede_adquirencia/method_standard</model>
				<payment_action>order</payment_action>
				<allowspecific>0</allowspecific>
				<currency>BRL</currency>
				<sort_order>0</sort_order>
				<environment>0</environment>
				<!--
				<reference>0</reference>
				-->
				<transaction_type>authorize_capture</transaction_type>
				<installments_amount>6</installments_amount>
				<cctypes>CZ,DC,HP,HPC,JCB,VI,MC</cctypes>
				<useccv>1</useccv>
				<antifraud>0</antifraud>
			</rede_adquirencia>
		</payment>
	</default>
</config>